<footer class="max-width-4 mr-auto ml-auto">
  <nav id="footer-nav">
    <ul class="list-reset">
      <li class="inline mr2">
        <a href="#">Link 1</a>
      </li>
      <li class="inline">
        <a href="#">Link 1</a>
      </li>
    </ul>
  </nav>
</footer>
