<div id="page-container">

</div>

<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'pages' %>
<% end %>

<% content_for :stylesheet_includes do %>
  <%= stylesheet_pack_tag 'pages' %>
<% end %>
