<!DOCTYPE html>
<html>
  <head>
    <title>DoodlesAcademy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'pages' %>
    <%= javascript_pack_tag 'pages' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
